/* Configurações Geral */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 1em;
}

@font-face {
    font-family: 'Poppins';
    src: url(fontes/Poppins-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

h1 {
    color: black;
}

/* Configurações Body & HTML */
html, body {
    height: 1080px;
    background-color: black;
    background-image: url(imagens/wallpaper1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

#principal > section {
    background: rgb(255, 255, 255, 0);
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    width: 900px;
    height: 700px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.059);
    margin-top: 100px;
}

#conteudo-secundario {
    background-color: white;
    height: 1080px;
}

#conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

#conteudo > div > p {
    color: white;
}

#conteudo > div > h1 {
    color: white;
}

#conteudo > div > h1 > span {
    color: red;
}

#principal img{
    width: 350px;
}

/* Header */
.container {
    background-color: rgb(49, 48, 48);
    width: 100%;
    position: static;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#burguer {
    color: white;
    cursor: pointer;
}

#burguer:hover {
    color: red;
}

header img {
    width: 160px;
    padding: 10px;
}

#home:hover {
    color: red;
}

#serv:hover {
    color: red;
}

#loja:hover {
    color: red;
}

#contato:hover {
    color: red;
}

.botão-home {
    background-color: red;
    padding: 8px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.267);
    cursor: pointer;
    
}
.botão-home:hover {
    background-color: rgb(151, 56, 56);
    
}

/* Footer */
.footer-container {
    background-color: #010101;
    width: 100%;
    padding: 60px;
    position: relative;
    bottom: 0;
    color: white;
    display: flex;
    flex-wrap: row;
    justify-content: space-evenly;
}

#imagem {
    width: 200px;
}

#footer-conta:hover {
    color: red;
}

footer > p {
    margin: 0px;
}

/* Configurações Minha conta */
#minha-conta {
    width: 100wh;
    height: 100vh;
}

#login {
    background: white;
    text-align: center;
    padding: 15px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.059);
}

#ilogin {
    color: black;
    margin: 3px;
}

#isenha {
    color: black;
    margin: 3px;
}

#senha-form {
    color: red;
    text-decoration: underline;
}

/* Configurações Formulário */
#formula > section {
    background: white;
    text-align: center;
    padding: 15px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.059);
}

#inome {
    margin: 3px;
}

#inasce {
    margin: 3px;
}
#itel {
    margin: 3px;
}
#iemail1 {
    margin: 3px;
}
#iemail2 {
    margin: 3px;
}
#isenha1 {
    margin: 3px;
}
#isenha2 {
    margin: 3px;
}