/* Configurações Geral */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 1em;
}

@font-face {
    font-family: 'Poppins';
    src: url(Fontes/Poppins-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

h1 {
    color: black;
}

body {
    background: rgb(1, 1, 1);
    background-image: url(Imagens/bg.jpg) ;
    background-size: 150%;
}

/* Header */
.container {
    background-color: rgb(49, 48, 48);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header img {
    width: 160px;
    padding: 10px;
}

.whats {
    background-color: red;
    padding: 8px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.267);
    
}
.whats:hover {
    background-color: rgb(151, 56, 56);
    
}

section {
    background: white;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.059);
    margin-top: 200px;
}

/* Footer */
footer {
    background-color: #010101;
    width: 100%;
    position: absolute;
    margin-top: 150px;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 50px;
}

footer > p {
    margin: 0px;
}

/* Section Login*/

.login {
    color: black;
}